# Python compilation caches
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all datasets and outputs under data directory
data/

# IDE and system files
.vscode/
.idea/
.project
.pydevproject
.DS_Store
Thumbs.db
